<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="tfg.shuttlego">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:icon="@mipmap/ic_launcher_square"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_circle"
        android:hardwareAccelerated="false"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning" >

        <activity android:name=".activities.launcher.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.account.LoginMain" />
        <activity android:name=".activities.account.RegisterMain" />

        <activity android:name=".activities.person.admin.AdminMain" />
        <activity android:name=".activities.person.passenger.PassengerMain" />
        <activity android:name=".activities.person.driver.DriverMain" />

        <activity android:name=".activities.origin.OriginMain" />
        <activity android:name=".activities.origin.OriginList" />
        <activity android:name=".activities.origin.OriginEdit" />

        <activity android:name=".activities.route.routeMain.RouteMainDriver" />
        <activity android:name=".activities.route.routeMain.RouteMainPassengerInformation"/>
        <activity android:name=".activities.route.routeMain.RouteMainPassengerChoose"/>
        <activity android:name=".activities.route.routeList.RouteListDriver"/>
        <activity android:name=".activities.route.routeList.RouteListPassenger"/>
        <activity android:name=".activities.route.RouteChoosePassenger" />
        <activity android:name=".activities.route.RouteCalculate" />

    </application>
</manifest>