<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="tfg.shuttlego">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher_square"
        android:roundIcon="@mipmap/ic_launcher_circle"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.account.LoginActivity" />
        <activity android:name=".activities.account.RegisterActivity" />
        <activity android:name=".activities.admin.AdminMain" />
        <activity android:name=".activities.admin.origin.AddOrigin" />
        <activity android:name=".activities.admin.origin.EditOrigin" />
        <activity android:name=".activities.passenger.PassengerMain" />
        <activity android:name=".activities.driver.DriverMain" />
    </application>
</manifest>